/*  UBICACION */
.section__ubicacion {
	margin: 2rem 0 2rem 0;
	font-family: "Roboto Condensed", sans-serif;
	color: white;
	display: inline-grid;
	margin: 10px;
	padding: 10px;
}
.titulo__ubicacion {
	text-align: center;
	justify-self: center;
	background-color: darkgray;
	border-radius: 50px;
	color: black;
	inline-size: max-content;
}
.iframe {
	margin: 2rem 0 2rem 0;
}
