/*  Extend  */
.main {
    grid-area: main;
    margin: 15px;
    padding: 15px;
    display: contents;
    color: white;
}

.mainPrincipal{
    @extend .main;
    background-color: white; 
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainSecundario{
    @extend .main;
    color: yellow;
    font-weight: 50px;
}

/* mixin */

@mixin margenes($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

.main{
    @include margenes(15px, 15px);
}

/* maps */

$index: (
    main: red,
    header: black,
    section: yellow,
    footer: white
);

@each $index, $color in $index {
    .#{$index} {
        background-color: $color;
    }
}

/* map-get */

$index: (
    color: black,
    60px: 60px,
    margin: 20px,
    padding: 20px
);

main {
    color: map-get($index, color);
    font-size: map-get($index, 60px);
    margin: map-get($index, margin);
    padding: map-get($index, padding);
}