* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

body {
    margin: 0px 5% 0px 5%;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #e5e7e9;
}

$colorFondo: #e5e7e9;
$fuentePrincipal:  "Roboto Condensed", sans-serif;







/*  BOOSTRAP CSS  */


.body {
	font-family: "Rubik", sans-serif;
}
.carouselMain {
	padding: 40px;
	background-color: #e5e7e9;
	.carouselIndicadores {
		height: 100px;
		color: black;
	}
}
.carouselImg {
	img {
		height: 300px;
		width: 150px;
		border: solid 5px black;
		border-radius: 50px;
	}
}
.header {
	.nav {
		a {
			background-color: black;
			color: white;
			font-weight: bolder;
			&:hover {
				color: red;
				transform: scale(120%);
			}
		}
	}
}
.cardMain {
	display: flex;
	flex-direction: column;
	height: auto;
	margin: 10%;
	transition: 2s;
	&:hover {
		transform: scale(110%);
	}
	.card {
		text-align: center;
		font-weight: 700;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}
.cardTitulo {
	font-family: "Rubik", sans-serif;
}
.cardText {
	font-family: "Rubik", sans-serif;
}
.list {
	flex-direction: initial;
	padding: 50px;
	margin: 35px;
	a {
		background-color: #ee0d0d;
		color: white;
	}
}
.listText {
	text-align: center;
}
.autoridades {
	color: black;
}
.listGroup {
	padding: 50px;
	font-family: 'Rubik', sans-serif;
	font-weight: bolder;
}
.listContent {
	font-family: 'Rubik', sans-serif;
	padding: 50px;
	font-weight: bolder;
}
.galeria {
	img {
		width: 100%;
	}
}
.legend {
	display: none;
}
.redes {
	position: relative;
	transition-property: background-color, color;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	-webkit-transition-property: background-color, color;
	-webkit-transition-duration: 1s;
	-o-transition-property: background-color, color;
	-o-transition-duration: 1s;
	text-align: left;
	background-color: white;
	left: 5px;
	top: 5px;
	height: 26px;
	color: black;
	border-color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
	-moz-box-shadow: 2px 2px 1px black;
	padding: 2px 4px;
	border-radius: 35px;
	margin: 15px;
	padding: 15px;
	transform: rotate(180deg);
	&:hover {
		position: relative;
		transition-property: background-color, white;
		transition-duration: 1s;
		transition-timing-function: ease-out;
		-webkit-transition-property: background-color, white;
		-webkit-transition-duration: 1s;
		-o-transition-property: background-color, white;
		-o-transition-duration: 1s;
		background-color: black;
		color: white;
		-moz-box-shadow: 2px 2px 1px black;
		transform: rotate(180deg);
	}
}









/*  Extend  */
.main {
    grid-area: main;
    margin: 15px;
    padding: 15px;
    display: contents;
    color: white;
}

.mainPrincipal{
    @extend .main;
    background-color: #e5e7e9;
}


/* mixin */

@mixin margenes($margin, $padding) {
    margin: $margin;
    padding: $padding;
}

    .main{
    @include margenes(15px, 15px);
}

/* maps */

 $index: (
    footer: black,
    tituloFooter: black,
    tituloInstitucional: white,
    listContent: black,
);

@each $index, $color in $index {
    .#{$index} {
        
            color: $color;
    }
}

/* map-get */

$index: (
    color: white,
    display: contents,
    margin: 15px,
    padding: 15px
);

main {
    color: map-get($index, color);
    display: map-get($index, display);
    margin: map-get($index, margin);
    padding: map-get($index, padding);
}