* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

body {
    margin: 0px 5% 0px 5%;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #e5e7e9;
}

/*  GRIDS  */
/* INDEX - HOME */

.contenedor {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header"
    "main deportes deportes"
    "socios nosotros nosotros"
    "footer footer footer";
}
/* HEADER */

.header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-color: #e5e7e9;
    padding: 15px;

}

.header img {
    width: fit-content;
    display: flex;
    border-radius: 50%;
}

.nav {
    grid-area: nav;
    display: flex;
    align-content: center;
}

.nav li a {
    color: white;
    list-style-type: none;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: 5px solid white;
}

.nav li a:hover {
    color: red;
    border: 5px solid red;
}

/*  MAIN  */

.tituloPage {
    text-align: center;
    font-family: fantasy;
    font-size: 70px;
}

.main {
    grid-area: main;
    margin: 15px;
    padding: 15px;
    display: contents;
    color: white;
}

main section .contenido img {
    margin: 5px;
    width: 300px;
    height: 250px;
}

main section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

main section .contenido {
    display: flex;
}

main section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.main img {
    border: 5px white solid;
    height: 100px;
    width: 100px;
}

.contenido {
    display: flex;
    align-items: center;
}

.socios {
    grid-area: socios;
}

.deportes {
    grid-area: deportes;
}

.nosotros {
    grid-area: nosotros;
}

.titulo__imperio {
    color: white;
    padding: 15px;
}

.parrafo {
    font-style: italic;
}

.imagenPrincipal {
    margin: 10px 10px;
    padding: 10px 10px;
    background-color: white;
    border: 5px solid red;
    width: 150px;
}

.footer {
    border: 2px solid black;
    background-color:black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    grid-area: footer;
    text-align: center;
    justify-content: center;
    margin-left: -10%;
    margin-right: -10%;

}

.tituloFooter{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
}

a {
    text-decoration: none;
}

/*  CONTACTO */

.tituloContacto {
    color: black;
    margin: 15px;
    padding: 15px;
    text-align: start;
    margin: 2rem 0 2rem 0;
    border-radius: 50px;
    background-color: white;
    display: inline-flex;
}

/* .legend{
    display: contents;
} */


.btn{
    font-weight: bold;
    width: fit-content;
}

.btn:hover{
    color:red;
}

.form {
    color: black;
    font-style: italic;
    font-weight: bolder;
    margin: 15px;
    padding: 15px;
}

.form label {
    display: flex;
    margin: 5px;
    padding: 5px;
}

.form .input-container {
    display: flex;
    align-items: center;
}


.fieldset {
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-direction: column;
}

.fieldset legend{
    display: contents;
}


.textArea {
    display: flex;
    padding: 5px;
    margin: 5px;
}


/*  GALERIA */

.contenedor-galeria {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "header header header"
    "galeria galeria galeria"
    "galeria galeria galeria"
    "footer footer footer";
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    grid-area: galeria;
}

.galeria img {
    width: 350px;
    height: 250px;
    margin: 1rem;
    border-radius: 20px;
    border: 5px solid white;
}

.galeria img:hover {
    border: solid black 5px;
}

/*  UBICACION */

.section__ubicacion {
    margin: 2rem 0 2rem 0;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
    display: inline-grid;
    margin: 10px;
    padding: 10px;
}

.titulo__ubicacion {
    text-align: center;
    justify-self: center;
    background-color: darkgray;
    border-radius: 50px;
    color:black;
    inline-size: max-content;

}

.iframe {
    margin: 2rem 0 2rem 0;
  /* width: 50%; */
}

/*  INSTITUCIONAL */

.header {
    font-family: "Roboto Condensed", sans-serif;
}

.tituloInstitucional {
    color: white;
    margin: 2rem 0 2rem 0;
}

.parrafoInstitucional {
    color: white;
    margin: 2rem 0 2rem 0;
    font-style: italic;
    font-weight: bolder;
}


.mainInstitucional {
    display: flex;
    flex-direction: column;
}

/* MOBILE  */

@media screen and (max-width: 580px) {
    .header {
    flex-direction: column;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    }

.header .nav {
    display: initial !important;
}

    .listContent{
    display: contents;
    }


    .galeria {
    flex-direction: column;
    align-content: center;
    }

    .galeria img {
    width: 100%;
    }

    .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px !important;
    }


    main section {
    text-align: -webkit-center;
    }

    main section .contenido img {
    margin: 5px;
    width: 300px;
    height: 250px;
    }

    main section .contenido {
    display: contents;
    text-align: -webkit-center;
    }

    .main .section .div p {
    text-align: center;
    }

    .footer {
    border: 2px solid black;
    background-image: radial-gradient(white, black);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 3rem;
    border-radius: 50px;
    }

    .section__ubicacion {
    display: flex;
    display: contents;
    }

    iframe {
    width: 100%;
    }

    .form {
    width: 100%;
    padding: 0px;
    margin: 3px;
    }
}

/*  TABLET  */

@media screen and (max-width: 996px) {
    .header img{
    justify-content: center;
    }

    .header .nav {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    }

    .logo-container{
    place-content: center;
    }

    .galeria {
    flex-direction: row;
    align-content: center;
    }

    .galeria img {
    width: 100%;
    }

    .main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: -18px;
    background-color: darkgray;
    }

    main section {
    text-align: -webkit-center;
    margin: 1rem;
    }

    main section .contenido img {
    margin: 5px;
    width: 300px;
    height: 250px;
    }

    main section .contenido {
    display: contents;
    }

    .main .section .div p {
    text-align: center;
    }

    .footer {
    border: 2px solid black;
    background-image: radial-gradient(white, black);
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 3rem;
    border-radius: 50px;
    }

    .section__ubicacion {
    display: flex;
    display: contents;
    }

    iframe {
    width: 100%;
    }

    .form {
    width: 100%;
    padding: 0px;
    margin: 3px;
    }
}

/*  BOOSTRAP CSS  */

.body {
    font-family: "Rubik", sans-serif;
}

.carouselMain {
    padding: 40px;
    background-color: #e5e7e9;
}

.carouselMain .carouselIndicadores {
    height: 100px;
    color: black;
}

.carouselImg img {
    height: 300px;
    width: 150px;
    border: solid 5px black;
    border-radius: 50px;
}


/* .header .nav {
    display: flex;
    flex-direction: row;
    align-content: center;
} */

.header .nav a {
    background-color: black;
    color: white;
    font-weight: bolder;

}

.header .nav a:hover {
    color: red;
    transform: scale(120%);
}

.cardMain {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10%;
    transition: 2s;
}

.cardMain:hover{
    transform: scale(110%);
}

.cardMain .card {
    text-align: center;
    font-weight: 700;
}

.cardMain .card:hover {
    background-color: black;
    color: white;
}


.cardTitulo {
    font-family: "Rubik", sans-serif;
}

.cardText {
    font-family: "Rubik", sans-serif;
}

.list {
    flex-direction: initial;
    padding: 50px;
    margin: 35px;
}

.list a {
    background-color: #ee0d0d;
    color: white;
}

.listText {
    text-align: center;
}

.autoridades {
    color: black;
}

.listGroup {
    padding: 50px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder ;
}

.listContent {
    font-family:'Rubik', sans-serif;
    padding: 50px;
    font-weight: bolder;
}

.galeria img{
    width: 100%;
}



.redes {
    position: relative;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, color;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, color;
    -o-transition-duration: 1s;
    text-align: left;
    background-color: white;
    left: 5px;
    top: 5px;
    height: 26px;
    color: black;
    border-color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-decoration: none;
    -moz-box-shadow: 2px 2px 1px black;
    padding: 2px 4px;
    border-radius: 35px;
    margin: 15px;
    padding: 15px;
    transform: rotate(180deg);
    }

    .redes:hover {
    position: relative;
    transition-property: background-color, white;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    -webkit-transition-property: background-color, white;
    -webkit-transition-duration: 1s;
    -o-transition-property: background-color, white;
    -o-transition-duration: 1s;
    background-color:black;
    color:white;
    -moz-box-shadow: 2px 2px 1px black;
    transform: rotate(180deg);
    }